body{
    background: red;
}
div{
    margin: auto;
    text-align: center;
    width: 90%;
    max-width: 300px;
    height: 300px;
    padding: 20px;
}
button{
    background: yellow;
    color: black;
    text-align: center;
    width: 50px;
    height: 100px;
}